<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ,
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="imgs/full%20size%20favicon.PNG" type="image/x-icon" sizes="16x16">
    <title>Wait Time and Missing Item</title>



    <style>
        .custom-control-input:checked ~ .custom-control-label::before {
            color: white;
            border-color: black;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: orange;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 2vh;
            border-radius: 5vh;
            background: white;
            outline: none;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2vw;
            height: 3vh;
            border-radius: 50%;
            background: orange;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 5vw;
            height: 5vh;
            border-radius: 50%;
            background: orange;
            cursor: pointer;
        }

        .custom-btn {
            background-color: orange;
        }
    </style>
</head>


<body id="waitTimeBody">
<!--<editor-fold desc="IMPORTS">-->
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--################################################FIREBASE ZONE. DO NOT TOUCH ####################################-->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>


<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>


<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>

<!--firebase API config files-->
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyBqB5QHNRRquDJxd9OiXXa9c33dI4zDSDA",
        authDomain: "firebaetest-6e21a.firebaseapp.com",
        databaseURL: "https://firebaetest-6e21a.firebaseio.com",
        projectId: "firebaetest-6e21a",
        storageBucket: "firebaetest-6e21a.appspot.com",
        messagingSenderId: "763860546362",
        appId: "1:763860546362:web:35a3ed2ac35df4abd5d603",
        measurementId: "G-V56860GVZL"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<!--################################################ END FIREBASE ZONE ####################################-->
<!--CHECK PERSISTENCE-->
<script>
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log("Logged in OK");
        } else {
            console.log("NOPE not logged in");
            window.location.href = "/";
        }
    });
</script>

<!--</editor-fold>-->
<!--<editor-fold desc="NAVBAR">-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand pepeGrocer" href="/menu">
        <span id="pepe">pepe</span><span id="grocer">Grocer</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-light">
            </span>
    </button>

    <div class="collapse navbar-collapse" id='navbarNav'>
        <ul class="navbar-nav w-100 mr-auto">
            <li class="nav-item active">
                <a class="nav-link active">Report Missing Items/Wait Time</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/search">Search by Ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shoppinglist">Shopping List</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/lineup">Store Lineup Near Me<span-->
<!--                            class="sr-only">(current)</span></a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs">About Us</a>
            </li>
            <li class="nav-item">
                <a data-toggle="modal" data-target="#logOutModal" class="nav-link btn btn-secondary" type='button'
                   id='signout'
                   style='color:aliceblue'>Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<!--</editor-fold>-->
<!--<editor-fold desc="MODAL">-->

<!-- Modal Log Out-->
<!-- Modal -->
<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: orange">
            <div class="modal-body">
                <div class="container-fluid searchByIngredientsContainer">
                    <div class="row">
                        <h3>Are you sure you want to sign out?</h3>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <div class="row justify-content-center" id="logOutBtn">
                                <button type="button" id="confirmLogOut" class="btn btn-dark btn-block"> Log Out
                                </button>
                            </div>
                            <div class="row justify-content-center" id="closeBtn">
                                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <img src="imgs/monkaS.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Enter Wait Time-->
<!-- Modal -->

<div class="modal fade" id="waitTimeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #2e2b2e">
            <div class="modal-body">
                <div class="container-fluid">
<!--                    <form>-->
                        <div class="row" id="waitTimeRow">
                            <div class="col">
                                <div class="form-group">
                                    <div>
                                        <label for="waitTime" id="waitTimeTitle">Wait time input:</label>
                                    </div>

                                    <div>
                                        <input type="range" class="slider" name="waitingTime" min="0" max="120" step="1"
                                               value="0" id="waitTimeRange">
                                    </div>

                                    <div>
                                        <p id="waitTimeText">Wait Time: <span id="waitTimeValue"></span> Minutes</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <form action="/waitTime" method="post">
                        <textarea style="display: none" name="storeID" id="storeIDRequested" ></textarea>;
                        <textarea style="display: none" name="waitTimeValue" id="inputval" >0</textarea>;
                        <textarea style="display: none" name="storeAddress" id="storeAddressRequested" ></textarea>;
                        <textarea style="display: none" name="storeName" id="storeNameRequested" ></textarea>;
                        <div class="row justify-content-center">
                            <input class="btn custom-btn" style="color: white" type='submit' value="Submit"
                                   id="Submit" name="submitBtn">
                        </div>
                    </form>


                        <div class="row justify-content-center" style="padding-top: 2vh">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

<!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--</editor-fold>-->
<hr>
<!--<editor-fold desc="BUTTONS TOP ">-->
<div id='mainBlock' class="container vertical-align table-responsive waitTimeContainer">
    <div class="row justify-content-center" id='waitTime'>
        <h3 style="color: white; text-align: center">Report Missing Items/Wait Time</h3>
    </div>

    <div class="row justify-content-center" id="addressInput">
        <form action='/waitTime' method='post'>
            <div class="row justify-content-center">
                <input type="text" name="address" placeholder="Enter an address" id="inputBox"/>
                <input type="submit" value="Search" id="submitBtn" name="submitBtn"/>

                <!-- This should not affect visually but need it to post values for lat lon; -->
                <input id="coordinateLongitude" type="hidden" name="longitude" value=""></input>
                <input id="coordinateLatitude" type="hidden" name="latitude" value=""></input>

            </div>
            <div class="row justify-content-center" id="nearMeRow">
                <input type="submit" class="btn btn-secondary" value="Near Me" id="nearMeBtn" name="submitBtn"/>
            </div>
        </form>
    </div>
</div>
<!--</editor-fold>-->
<!--<editor-fold desc="EJS repeat ">-->
    <div id='mainBlock' class="container vertical-align table-responsive searchByIngredientsContainer">

        <div id="stores" class="container vertical-align table-responsive searchByIngredientsContainer">
            <div id='waitTimeArea'>
                <h6 id='store' style="color: white">Stores:</h6>
            </div>
            <div class="waitTimeBox">

                <% for( let index = 0; index < stores.length; index++ ) { %>



                    <div class="card storeCard">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><%= stores[index]["name"] %></h5>
                                    <h7 class="card-subtitle"><%= stores[index]["address"] %></h7>
                                    <div style="padding-top: 3vh">
                                        <h6  class="card-text btn btn-secondary" data-toggle="modal"
                                            id= <%= stores[index]["identification"] %>
                                            data-target="#waitTimeModal"
                                        onclick="editHiddenID('<%= stores[index]["identification"] %>','<%= stores[index]["address"] %>', '<%= stores[index]["name"] %>')">Report wait time or missing item</h6>

                                        <!-- need to link to itemStock.ejs -->
                                      
                                        <a href = "/individualstore/<%= stores[index]["identification"] %>"  class="btn btn-secondary" style="margin-top: 2vh">Items currently out of stock at this store</a>
                                    
                                    </div>


                                    <!--                            <p class="card-text">Last Reported</p>-->
                                </div>
                                <div class="col">
                                    <a href=<%= stores[index]["directions"] %>><img src="/imgs/googleMap.png"
                                                                                    height="100px" width="100px"
                                                                                    class='images'></a>
                                </div>
                            </div>
                        </div>
                    </div>

                <% } %>

            </div>
        </div>
    </div>
<!--</editor-fold>-->

<script>
    //-- This gets stock of the page when you click the <h6> tag "Current out of stock items at store"
    function stockPage (hereid) {
        console.log(hereid)

    }

    

</script>





<script>
    function editHiddenID(thisID, address, name) {
        console.log(address);
        document.getElementById("storeIDRequested").innerHTML = thisID;
        document.getElementById("storeAddressRequested").innerHTML = address;
        document.getElementById("storeNameRequested").innerHTML = name;

    }
</script>

<script>
    // $('#submitWaitTime').click(function (e) {
    //     e.preventDefault();
    //     $.ajax({
    //         type: "POST",
    //         url: "/waitTimeSubmit",
    //         data: {
    //             storeID : document.getElementById("storeIDRequested").innerHTML,
    //             waitTimeValue : document.getElementById("inputval").innerHTML,
    //             storeAddress : document.getElementById("storeAddressRequested").innerHTML,
    //             storeName : document.getElementById("storeNameRequested").innerHTML
    //         }
    //     })
    // })
</script>

<script>
    let slider = document.getElementById("waitTimeRange");
    let output = document.getElementById("waitTimeValue");
    let hiddenID = document.getElementById("inputval");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
        hiddenID.innerHTML = this.value;
    }


    window.onload = getLocation();

    coords = []

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        console.log("Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude);
        coords.push(position.coords.latitude, position.coords.longitude);
        console.log('my array coords are: ' + coords);
        document.querySelector("#coordinateLongitude").value = position.coords.longitude;
        document.querySelector("#coordinateLatitude").value = position.coords.latitude;


        return (position.coords.latitude, position.coords.longitude);
    }

    const logout = document.querySelector("#confirmLogOut");
    logout.addEventListener('click', function () {
        firebase.auth().signOut();
        console.log("user signed out");
        window.location.href = "/";
    });
<% if (errMsg != null) {%>
    <%- errMsg %>
    <%}%>
</script>
</body>

</html>